.banner {
  box-shadow: 0 0 5px;
  height: 900px;
  // border: solid red 3px;
}

.container-fluid {
 display: flex;
 justify-content: space-evenly;
 border-bottom: solid grey 2px;
}
.row {
  padding: 20px;
}

#pokemon-logo {
  size: 200px;
}

.card-show {
  border: solid  #385ba8 5px;
  max-width: 580px;
  // padding: 20px;
  background-color: #ffcc01;
  // margin: 30px;
  box-shadow: 0 0 5px;
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 4px;
  height: 600px;
}

.card-show-text {
  text-align: center;
  font-size: 20px;
}

.book-card {
  border: solid  #385ba8 5px;
  max-width: 480px;
  // padding: 20px;
  background-color: #ffcc01;
  margin: 30px;
  box-shadow: 0 0 5px;
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 4px;
  text-align: center;
}

.book-card h1 {
  padding: 20px;
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 4px;
}

.profile-card {
  font-family: 'Pokemon Solid', sans-serif;
  border: solid  #385ba8 5px;
  max-width: 480px;
  padding: 20px;
  background-color: #ffcc01;
  margin: 30px;
  box-shadow: 0 0 5px;
  text-align: center;
}

.profile-card h1 {
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 4px;
}

.footer-fluid {
  text-align: center;
  padding-top: 20px;
  background-color: #ffcc01;
  padding-bottom: 0px;
}

.footer-fluid p {
  font-family: 'Pokemon Solid', sans-serif;
  letter-spacing: 4px;
}

.footer-fluid ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #f703d5;
  color: white;
}
