<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pick-A-Poke</title>
  <link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
  <style>
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
</style>

</head>
<body>
  <div class="navbar">
    <a id="title-image" href="#home"><%= image_tag "Pokemon" %></a>

    <ul>
      <li><a href="#login">Login</a></li>
      <li><a href="#sign-up">Sign-Up</a></li>
      <li><a href="#battle">Battle</a></li>
    </li>
  </div>
  <div class="banner" style="background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/go/pokemon-party.jpg);">
    <div class="banner-content">
      <h1>Take your pick of our poke</h1>
    </div>
  </div>
  <p></p>

</body>
</html>
