<%= @pokemon.name %>
<%= @pokemon.element %>
<%= @pokemon.move %>
<%= image_tag @pokemon.image_path %>

<div class="row mt-4">
    <div class="col-12 px-3">
        <div class="booking-form">
        <h1>Please log in to book a battle!</h1>
        </div>
      </div>
    </div>
  </div>
</div>

                
                    